NODE_ENV=development
DB_ADDRESS = mongodb://localhost:27017/mestodb
DATABASE_USER=dev
DATABASE_PASSWORD=notSoSecurePassword
JWT_SECRET = "JWT_SECRET"
API_URL = "https://api.smyk-frontend.nomorepartiesco.ru"
PORT = 3000


DEPLOY_USER="praktikum"
DEPLOY_HOST=84.201.172.240
DEPLOY_PATH="/home/praktikum/mesto-backend"
DEPLOY_REPOSITORY="https://github.com/SmykNikolay/nodejs-pm2-deploy/repository.git"